@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100dvh;
}

html {
    box-sizing: border-box;
    font: 18px/1.5 'Karla', sans-serif
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: 'Cormorant Infant';
}

header {
    background-image: url(images/poster.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.400);
    background-blend-mode: color;
}

.nav-wrapper {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.nav-wrapper {
    max-width: 90%;
}

.logo-wrapper img {
    width: 10%;
}

.logo-wrapper {
    flex-basis: 70%;
}

header nav {
    flex-basis: 30%;
}

header nav ul {
    display: flex;
    gap: 2.3em;
}

header nav ul li {
    display: block;
    flex: 1 0 auto;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

.header-content {
    padding: 200px 0 120px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 90px;
    color: white;
    line-height: 1;
    font-weight: 900;
}

.header-content p {
    color: white;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 130px;
}

main .con1 {
    background-color: #F8F0E9;
    padding: 2em;
}

.con1 p,
.con1 h1 {
    max-width: 900px;
    margin: 0 auto;
}

.con1 h1 {
    font-size: 60px;
    font-style: italic;
    line-height: 0.8;
    margin: 3rem auto;
    color: #352B2A;
}

.con1 p {
    color: #352B2A;
}

main .con2 {
    background-color: #E14747;
    color: white;
    padding: 4em;
}

.con2 h2 {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 25px;
}

.con2 p {
    max-width: 15em;
    margin: 0 auto;
    text-align: center;
}

main .con3 {
    background-color: #F8F0E9;
    padding: 3em;
    color: #352B2A;
}

.inner-con3 {
    max-width: 500px;
    margin: 0 auto;
}

.inner-con3 h1 {
    font-size: 3.2em;
    text-align: center;
    line-height: 1;
    padding: 1.5em 0;
}

.inner-con3 p {
    margin-bottom: 4em;
    line-height: 1.4;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btns button {
    padding: 0.7em 1.5em;
    background-color: white;
    border-radius: 0.3em;
    border: 1px solid black;
}

.btns button:first-child {
    margin-bottom: 4em;
}

.btns button:last-child {
    margin: 0 auto;
    margin-bottom: 1em;
}

main .con4 {
    background-color: #E14747;
    color: white;
    padding: 5em;
}

.inner-con4 {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.inner-con4 h1 {
    font-size: 3.2em;
    padding: 1.5em 0;
}

.inner-con4 p {
    margin-bottom: 4em;
}

.inner-con4 span {
    background: #FAD87A;
    padding: 0.7em 1em;
    border-radius: 5em;
}

.inner-con4 span a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

footer {
    background-color: #352B2A;
}

footer div {
    padding: 3em 7em;
}

footer img {
    width: 5%;
    height: auto;
    margin-bottom: 1.5em;
}

footer div p:nth-of-type(1) {
    color: white;
    font-size: 14px;
    max-width: 31%;
    margin-bottom: 1em;
}

footer div p:nth-of-type(2) {
    color: #766968;
    font-size: 12px;
}