@media (width <= 600px) {
    header {
        height: 430px;
    }

    header nav {
        margin-left: 0;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 0.4em;
    }

    section.header-title {
        padding-top: 1em;
    }

    .header-title h1 {
        font-size: 2.2em;
    }

    .header-title p {
        font-size: 1.1em;
        font-weight: 400;
        padding: 0 1em;
    }

    .choose-us ul {
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }

    .choose-us ul li:not(:last-child) {
        margin-bottom: 1.25em;
    }

    .about-us p:nth-child(3) {
        width: 100%;
        margin: 0 auto;
    }

    .team-description-wrapper ul {
        gap: 3em;
    }

    .team-description-wrapper ul li img {
        width: 100%;
        height: 83%;
    }

    .team-description-wrapper ul li p {
        font-size: 0.75em;
    }
}