@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', sans-serif
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.container {
    width: 850px;
    height: 470px;
    background-color: #080808;
    border-radius: 0.7em;
}

header {
    display: flex;
    width: 735px;
    background-color: #1C1C1C;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-bottom-left-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
}

header nav ul {
    display: flex;
    font-size: 10px;
    gap: 5em;
}

header nav ul li a {
    color: #9C9C9C;
    text-decoration: none;
}

header nav ul li {
    display: block;
}

header .icons-wrapper {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

header .icons-wrapper img {
    width: 12px;
    height: auto;
}

header .icons-wrapper img:nth-of-type(2) {
    width: 14px;
    height: 10px;
}


main {
    display: flex;
    width: 720px;
    margin: 1em auto;
    padding: 2em;
    gap: 5em;
}

main .main-content {
    flex-basis: 65%;
    margin-top: 3.5em;
}

.main-content h1 {
    color: white;
    font-size: 1.8em;
}

.main-content p {
    color: #9C9C9C;
    margin-top: 3em;
    font-size: 10px;
}

/* .main-content a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 1em 4em;
} */

.main-content button {
    background-color: #3F8E00;
    color: white;
    font-size: 10px;
    padding: 1em 5em;
    border: none;
    border-radius: 0.3em;
    margin-top: 1em;
}

main .img-wrapper {
    flex-basis: 35%;
}

main .img-wrapper img {
    width: 230px;
    height: 230px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    width: 680px;
    margin: 0 auto;
}

footer p {
    color: white;
    font-size: 10px;
    margin-bottom: 1em;
}

footer .buttons-wrapper {
    display: flex;
    justify-content: space-between;
}

.buttons-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 40px;
    border: 1px solid #484848;
    /* padding: 10px 15px; */
    border-radius: 0.3em;
}

.buttons-wrapper a img {
    width: 50%;
    height: auto;
}

.buttons-wrapper a:nth-of-type(2) img {
    width: 65%;
    height: auto;
}

.buttons-wrapper a:nth-of-type(3) img {
    width: 55%;
    height: auto;
}

.buttons-wrapper a:nth-of-type(5) img {
    width: 40%;
    height: auto;
}